services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./docker/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./docker/mosquitto/passwd:/mosquitto/config/passwd
      - ./docker/mosquitto/data:/mosquitto/data
    networks: [iot-net]

  iot-preprocessing:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
      args:
        APP_DIR: src/preProcessing
    container_name: iot-preprocessing
    restart: always
    environment:
      HOUSE_ID: "beux house"
      AUTH_URL: http://host.docker.internal:3000/auth
      MQTT_BROKER: mosquitto
      MQTT_PORT: 1883
      POSTPROCESSOR_URL: http://iot-postprocessing:8080/v1/vitals
      BPM_MIN_VALID: 25
      BPM_MAX_VALID: 220
      SPO2_MIN_VALID: 50
      SPO2_MAX_VALID: 100
    depends_on:
      - mosquitto
      - iot-postprocessing
    networks: [iot-net]

  iot-postprocessing:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
      args:
        APP_DIR: src/postProcessing
    container_name: iot-postprocessing
    restart: always
    environment:
      HOUSE_ID: "beux house"
      AUTH_URL: http://host.docker.internal:3000/auth
      VALIDATOR_URL: http://host.docker.internal:3000/alert,http://host.docker.internal:3000/api/alerts/vital
      MQTT_BROKER: mosquitto
      MQTT_PORT: 1883
      BPM_MIN_CRIT: 45
      BPM_MAX_CRIT: 120
      BPM_CONFIRM_WINDOW_SEC: 6
      BPM_CONFIRM_MIN_SAMPLES: 3
      BPM_CONFIRM_RATIO: 0.66
      BPM_EXIT_RATIO: 0.2
      COOLDOWN_SEC: 30
      STALE_SEC: 30
      SPO2_MIN_CRIT: 90
      PORT: 8080
    depends_on:
      - mosquitto
    networks: [iot-net]

  iot-gateway:
    build:
      context: .
      dockerfile: docker/sensors/Dockerfile
    container_name: iot-gateway
    restart: always
    environment:
      MQTT_BROKER: mosquitto
      MQTT_PORT: 1883
    depends_on:
      - mosquitto
    networks: [iot-net]

networks:
  iot-net:
    driver: bridge
