services:
  kafka:
    image: apache/kafka:4.1.0
    ports:
      - 9092:9092
    environment:
      # setting up listeners
      KAFKA_LISTENERS: CONTROLLER://localhost:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://localhost:9092,DOCKER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091

      # Listener to use for broker-to-broker communication
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      # Required for a single node cluster
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    
  alert-enrichment:
    build:
      context: ./alert-enrichment-ms
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: alert-enrichment
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9093
      ALERT_ENRICHMENT_FALLBACK_RECIPIENTS: doctor@hospital.com,nurse@hospital.com
    depends_on:
      - kafka
    ports:
      - "8081:8080"

  kafka-ui:
    image: kafbat/kafka-ui:main
    ports:
      - 8080:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9093
